VITE_SWORD_REACHES_PMTILES=/tiles/oc_reaches.pmtiles
VITE_SWORD_REACHES_SOURCE_LAYER=reaches
VITE_SWORD_COLOR_BINS_JSON=/tiles/oc_reaches.colors.json
VITE_MAP_CENTER_LON=135
VITE_MAP_CENTER_LAT=-20
VITE_MAP_ZOOM=3
